@import "tailwindcss";

.mxd-header {
	background-color: white;
	padding-inline: 1.7rem;
	margin-top: 2.6rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-radius: 1000px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
