---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="Contacto">
  <div
    class="tp-breadcrumb-s2-ptb p-relative pb-180"
    data-background="assets/img/breadcrumb/breadcrumb-bg-1.webp"
  >
    <div class="tp-breadcrumb-s2-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tp-breadcrumb-s2-content text-center">
            <h4 class="tp-breadcrumb-s2-title tp-split-title">Contacto</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tp-application-form-spacing-- -mt-20">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="tp-application-form-wrap">
            <div class="tp-application-form-title-wrap mb-50 text-center">
              <span
                class="tp-section-subtitle fs-13 st-unbounded st-dot st-border tp_fade_anim"
                data-delay=".3">Full Time</span
              >
              <h2 class="tp-section-title fs-42 tp-split-title">
                UI/UX Designer
              </h2>
            </div>
            <div class="tp-application-form tp_fade_anim" data-delay=".5">
              <form action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="tp-application-form-input mb-25">
                      <label class="tp-label">Your Name*</label>
                      <input class="tp-input" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="tp-application-form-input mb-25">
                      <label class="tp-label">Your Email Address *</label>
                      <input class="tp-input" type="text" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="tp-application-form-input mb-25">
                      <label class="tp-label"
                        >why you decided to apply hare and why should we select
                        you?*</label
                      >
                      <textarea class="tp-input tp-textarea"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="tp-application-form-input mb-25">
                      <label class="tp-label"
                        >Tell us About a project that you worked on and felt
                        proud of IT.*</label
                      >
                      <textarea class="tp-input tp-textarea"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="tp-application-form-input mb-25">
                      <label class="tp-label"
                        >share your portfolio. ( behance, dribble, etc)*</label
                      >
                      <textarea class="tp-input tp-textarea"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="tp-application-form-input mb-25">
                      <label class="tp-label"
                        >your current salary & what are your salary
                        expectations?*</label
                      >
                      <textarea class="tp-input tp-textarea"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div
                      class="tp-application-form-input tp-application-form-upload mb-30"
                    >
                      <label class="tp-label d-block">Upload your CV *</label>
                      <input class="tp-file" type="file" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div
                      class="tp-application-form-btn mt-15 mb-30 text-md-end"
                    >
                      <button type="submit" class="tp-btn-green tp-btn-anim">
                        <span class="tp-btn-text">Submit Now</span>
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="21"
                            height="8"
                            viewBox="0 0 21 8"
                            fill="none"
                          >
                            <path
                              d="M0 6.99626L19 7L10.208 1"
                              stroke="currentColor"></path>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
