---
import Hero from "../components/home/Hero.tsx";
import About from "../components/home/About.tsx";
import Projects from "../components/home/Projects.tsx";
import Brands from "../components/Brands.tsx";
import Courses from "../components/home/Courses.tsx";

import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="CIDIT">
	<Hero />
	<About />
	<Courses client:visible />
	<Projects />
	<div class="h-81"></div>
	<Brands />
</MainLayout>
