---
import Hero from "../components/home/Hero";
import About from "../components/home/About";
import Projects from "../components/home/Projects";
import Brands from "../components/Brands";
import Courses from "../components/home/Courses";
import Reviews from "../components/Reviews";

import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="CIDIT">
	<Hero />
	<About />
	<Courses client:visible />
	<Projects />
	<section class="pt-27!">
		<Reviews />
	</section>
	<Brands />
</MainLayout>
