---
import Hero from "../components/home/Hero.tsx";
import About from "../components/home/About.tsx";
import Projects from "../components/home/Projects.tsx";
import Brands from "../components/Brands.tsx";
import Courses from "../components/home/Courses.tsx";

import MainLayout from "../layouts/mainLayout.astro";
import { getSEO } from "../data/seoData";

const seo = getSEO("/");
---

<MainLayout title={seo.title} description={seo.description} ogImage={seo.ogImage}>
	<Hero />
	<About />
	<Courses client:visible />
	<Projects />
	<div class="h-20 lg:h-81"></div>
	<Brands />
</MainLayout>
