---
import "../../../styles/projects/guarania.css";

import ProjectLayout from "../../../layouts/projectLayout.astro";

import Hero from "../../../projectsComponents/guarania/Hero.tsx";
import ProjectComponents from "../../../projectsComponents/guarania/ProjectComponents.tsx";
import BoxedContent from "../../../projectsComponents/guarania/BoxedContent.tsx";
import Staff from "../../../projectsComponents/Staff.tsx";
import Sponsors from "../../../projectsComponents/guarania/Sponsors.tsx";
import Reviews from "../../../projectsComponents/guarania/Reviews.tsx";
import Gallery from "../../../projectsComponents/guarania/Gallery.tsx";
import StaffList from "../../../projectsComponents/guarania/StaffList.tsx";

import { staticPath } from "../../../utils/staticPath";

import type { StaffType } from "../types.d.ts";

import { db, GalleryCategory, Gallery as GalleryDb } from "astro:db";

const categories = await db.select().from(GalleryCategory);
const galleries = await db.select().from(GalleryDb);

const galleryData = categories.map((category) => ({
	headline: category.headline,
	items: galleries
		.filter((g) => g.categoryId === category.id)
		.map((g) => ({ ...g })),
}));
---

<ProjectLayout
	title="Guarania"
	logoSrc={staticPath("projects/img/guarania/logo.svg")}
	logoHeight="h-20!"
	footerLogoSrc={staticPath("projects/img/guarania/logo-black.svg")}
>
	<Hero />
	<ProjectComponents />
	<BoxedContent />
	<Gallery client:only="react" {...{ gallery: galleryData }} />
	<div class="h-21"></div>
	<StaffList />
	<Sponsors />
	<Reviews />
</ProjectLayout>
