---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "CIDIT" } = Astro.props;
---

<!doctype html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{title}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/logo/favicon.png"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/font-awesome-pro.css" />
    <link rel="stylesheet" href="assets/css/spacing.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- CSS here -->
  </head>

  <body class="tp-magic-cursor">
    <!-- Begin magic cursor -->
    <div id="magic-cursor" class="cursor-white-bg">
      <div id="ball"></div>
    </div>
    <!-- End magic cursor -->

    <!-- preloader -->
    <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- preloader end  -->

    <div class="tp-blur-bottom"></div>

    <!-- back to top start -->
    <div class="back-to-top-wrapper">
      <button id="back_to_top" type="button" class="back-to-top-btn">
        <svg
          width="12"
          height="7"
          viewBox="0 0 12 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 6L6 1L1 6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
    <!-- back to top end -->

    <slot />

    <!-- JS here -->
    <script is:inline src="assets/js/vendor/jquery.js"></script>
    <script is:inline src="assets/js/bootstrap-bundle.js"></script>
    <script is:inline src="assets/js/swiper-bundle.js"></script>
    <script is:inline src="assets/js/plugin.js"></script>
    <script is:inline src="assets/js/three.js"></script>
    <script is:inline src="assets/js/hover-effect.umd.js"></script>
    <script is:inline src="assets/js/magnific-popup.js"></script>
    <script is:inline src="assets/js/purecounter.js"></script>
    <script is:inline src="assets/js/imagesloaded-pkgd.js"></script>
    <script is:inline src="assets/js/ajax-form.js"></script>
    <script is:inline src="assets/js/slider-active.js"></script>
    <script is:inline src="assets/js/main.js"></script>
    <!-- JS here -->
  </body>
</html>
