---
import "../../styles/bootcamp.css";

import ProjectLayout from "../../layouts/projectLayout.astro";
---

<ProjectLayout
	title="Bootcamp"
	logoSrc="/projects/img/proteia/logo.svg"
	footerLogoSrc="/projects/img/proteia/logo-black.svg"
>
	<p>Bootcamp</p>
</ProjectLayout>
