---
import "../../styles/guarania.css";

import ProjectLayout from "../../layouts/projectLayout.astro";
---

<ProjectLayout
	title="Guarania"
	logoSrc="/projects/img/proteia/logo.svg"
	footerLogoSrc="/projects/img/proteia/logo-black.svg"
>
	<p>GuaranIA</p>
</ProjectLayout>
